<div>
  <h2 id="page-heading" data-cy="InvoiceHeading">
    <span jhiTranslate="moneyRoombaApp.invoice.home.title">Invoices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="moneyRoombaApp.invoice.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-invoice"
        [routerLink]="['/invoice/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="moneyRoombaApp.invoice.home.createLabel"> Create a new Invoice </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="invoices?.length === 0">
    <span jhiTranslate="moneyRoombaApp.invoice.home.notFound">No invoices found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="invoices && invoices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.invoice.companyName">Company Name</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.invoice.userName">User Name</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.invoice.userLastName">User Last Name</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.invoice.userEmail">User Email</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.invoice.dateCreated">Date Created</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.invoice.total">Total</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.invoice.subTotal">Sub Total</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.invoice.tax">Tax</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.invoice.purchaseDescription">Purchase Description</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.invoice.itemQuantity">Item Quantity</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.invoice.itemPrice">Item Price</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.invoice.currency">Currency</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/invoice', invoice.id, 'view']">{{ invoice.id }}</a>
          </td>
          <td>{{ invoice.companyName }}</td>
          <td>{{ invoice.userName }}</td>
          <td>{{ invoice.userLastName }}</td>
          <td>{{ invoice.userEmail }}</td>
          <td>{{ invoice.dateCreated | formatMediumDate }}</td>
          <td>{{ invoice.total }}</td>
          <td>{{ invoice.subTotal }}</td>
          <td>{{ invoice.tax }}</td>
          <td>{{ invoice.purchaseDescription }}</td>
          <td>{{ invoice.itemQuantity }}</td>
          <td>{{ invoice.itemPrice }}</td>
          <td>
            <div *ngIf="invoice.currency">
              <a [routerLink]="['/currency', invoice.currency?.id, 'view']">{{ invoice.currency?.code }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/invoice', invoice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/invoice', invoice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(invoice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
