<footer class="text-center text-white footer position-absolute w-100 p-0" style="background-color: #f1f1f1; margin-top: 3px">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Social media -->
    <section>
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-0 p-0"
        href="https://www.facebook.com/moneyroomba/"
        role="button"
        target="_blank"
        ><img src="assets/icons/flaticon/facebook.png" alt="facebook lgo" style="width: 25px; margin: 12px 25px" />
      </a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-0 p-0"
        href="https://www.instagram.com/moneyroomba/?hl=es"
        role="button"
        target="_blank"
        ><img src="assets/icons/flaticon/instagram.png" alt="instagram lgo" style="width: 25px; margin: 12px 25px" />
      </a>

      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-0 p-0"
        href="https://github.com/Jukebox-Projects/Money-Roomba"
        role="button"
        target="_blank"
        ><img src="assets/icons/flaticon/github.png" alt="github lgo" style="width: 25px; margin: 12px 25px" />
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: #20484f">
    <p class="text-light p-0 m-0" jhiTranslate="footer"></p>
  </div>
  <!-- Copyright -->
</footer>
