<div>
  <h2 id="page-heading" data-cy="SchedulePatternHeading">
    <span jhiTranslate="moneyRoombaApp.schedulePattern.home.title">Schedule Patterns</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="moneyRoombaApp.schedulePattern.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-schedule-pattern"
        [routerLink]="['/schedule-pattern/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="moneyRoombaApp.schedulePattern.home.createLabel"> Create a new Schedule Pattern </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="schedulePatterns?.length === 0">
    <span jhiTranslate="moneyRoombaApp.schedulePattern.home.notFound">No schedulePatterns found</span>
  </div>

  <div
    class="etabl-responsive table-hover fs-14 card-tableetabl-responsive table-hover fs-14 card-table"
    id="entities"
    *ngIf="schedulePatterns && schedulePatterns.length > 0"
  >
    <table class="table display mb-4 dataTablesCard dataTable card-table" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.schedulePattern.recurringType">Recurring Type</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.schedulePattern.separationCount">Separation Count</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.schedulePattern.maxNumberOfOcurrences">Max Number Of Ocurrences</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.schedulePattern.dayOfWeek">Day Of Week</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.schedulePattern.weekOfMonth">Week Of Month</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.schedulePattern.dayOfMonth">Day Of Month</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.schedulePattern.monthOfYear">Month Of Year</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.schedulePattern.scheduleTransaction">Schedule Transaction</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedulePattern of schedulePatterns; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/schedule-pattern', schedulePattern.id, 'view']">{{ schedulePattern.id }}</a>
          </td>
          <td jhiTranslate="{{ 'moneyRoombaApp.RecurringType.' + schedulePattern.recurringType }}">{{ schedulePattern.recurringType }}</td>
          <td>{{ schedulePattern.separationCount }}</td>
          <td>{{ schedulePattern.maxNumberOfOcurrences }}</td>
          <td>{{ schedulePattern.dayOfWeek }}</td>
          <td>{{ schedulePattern.weekOfMonth }}</td>
          <td>{{ schedulePattern.dayOfMonth }}</td>
          <td>{{ schedulePattern.monthOfYear }}</td>
          <td>
            <div *ngIf="schedulePattern.scheduleTransaction">
              <a [routerLink]="['/scheduled-transaction', schedulePattern.scheduleTransaction?.id, 'view']">{{
                schedulePattern.scheduleTransaction?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/schedule-pattern', schedulePattern.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/schedule-pattern', schedulePattern.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(schedulePattern)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
