<div>
  <h2 id="page-heading" data-cy="SystemSettingHeading">
    <span jhiTranslate="moneyRoombaApp.systemSetting.home.title">System Settings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="moneyRoombaApp.systemSetting.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="systemSettings?.length === 0">
    <span jhiTranslate="moneyRoombaApp.systemSetting.home.notFound">No systemSettings found</span>
  </div>

  <div
    class="etabl-responsive table-hover fs-14 card-tableetabl-responsive table-hover fs-14 card-table"
    id="entities"
    *ngIf="systemSettings && systemSettings.length > 0"
  >
    <table class="table display mb-4 dataTablesCard dataTable card-table" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.systemSetting.key">Key</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.systemSetting.value">Value</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let systemSetting of systemSettings; trackBy: trackId" data-cy="entityTable">
          <td [jhiTranslate]="'moneyRoombaApp.systemSetting.keys.' + systemSetting.key"></td>
          <td>{{ systemSetting.value }}</td>
          <td class="text-right">
            <div class="dropdown pb-3 dropdown-no-icon" ngbDropdown>
              <div class="btn-link" role="button" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10 11.9999C10 13.1045 10.8954 13.9999 12 13.9999C13.1046 13.9999 14 13.1045 14 11.9999C14 10.8954 13.1046 9.99994 12 9.99994C10.8954 9.99994 10 10.8954 10 11.9999Z"
                    fill="black"
                  ></path>
                  <path
                    d="M10 4.00006C10 5.10463 10.8954 6.00006 12 6.00006C13.1046 6.00006 14 5.10463 14 4.00006C14 2.89549 13.1046 2.00006 12 2.00006C10.8954 2.00006 10 2.89549 10 4.00006Z"
                    fill="black"
                  ></path>
                  <path
                    d="M10 20C10 21.1046 10.8954 22 12 22C13.1046 22 14 21.1046 14 20C14 18.8954 13.1046 18 12 18C10.8954 18 10 18.8954 10 20Z"
                    fill="black"
                  ></path>
                </svg>
              </div>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item" [routerLink]="['/system-setting', systemSetting.id, 'view']" jhiTranslate="entity.action.view"
                  >view</a
                >
                <a class="dropdown-item" [routerLink]="['/system-setting', systemSetting.id, 'edit']" jhiTranslate="entity.action.edit"
                  >Edit</a
                >
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
