<nav
  style="background: rgba(0, 0, 0, 0.1)"
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" href="index.html">Money Roomba</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Inicio de sesión</a></li>
        <li class="nav-item"><a href="/account/register" class="nav-link">Registrarse</a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="home-slider ftco-degree-bg">
  <div class="slider-item">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-10 ftco-animate text-center">
          <h1 class="mb-4">Money Roomba</h1>
          <h4>Sweep your Money</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="About" class="content-section">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <div class="block-heading">
          <h2>Acerca de nosotros</h2>
        </div>
        <p class="lead">
          Money Roomba es una aplicación enfocada en las finanzas personales, la cual permite llevar un control exhaustivo de gastos e
          ingresos mediante diferentes categorías, las cuales representan los gastos más comunes en el día a día.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- About Us Starts -->
<section id="Services" class="content-section text-center">
  <div class="container">
    <div class="block-heading">
      <h2>Nuestras funcionalidades</h2>
      <p>Money Roomba provee funcionalidades para permitir a los usuarios administrar sus finanzas de una forma fácil, sencilla y segura</p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service-box">
          <div class="service-icon yellow">
            <div class="front-content">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <h3>Flujo sencillo</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Flujo sencillo</h3>
            <p>Un flujo de trabajo que facilita a los usuarios el manejo constante de sus finanzas.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-box">
          <div class="service-icon orange">
            <div class="front-content">
              <i class="fa fa-suitcase"></i>
              <h3>Análisis de datos</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Análisis de datos</h3>
            <p>
              Análisis de datos sobre la información recaudada para la creación de diagramas y estadísticas que faciliten la toma de
              decisiones de los usuarios.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-box">
          <div class="service-icon red">
            <div class="front-content">
              <i class="fa fa-male" aria-hidden="true"></i>
              <h3>Transacciones automatizadas</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Transacciones automatizadas</h3>
            <p>
              Habilitar interfaces hacia las cuales los usuarios envíen la información generada desde otras plataformas y sea integrada en
              la aplicación
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-box">
          <div class="service-icon grey">
            <div class="front-content">
              <i class="fa fa-search-plus"></i>
              <h3>Soporte &amp; Seguridad</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Soporte &amp; Seguridad</h3>
            <p>Estándares de seguridad robustos para la correcta manipulación de los datos privados de los usuarios</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TESTIMONIALS -->
<section id="Testimonials" class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="block-heading">
          <p>Producto desarrollado por:</p>
          <h2>Jukebox</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END OF TESTIMONIALS -->
<jhi-footer class="mt-2"></jhi-footer>
