<nav
  style="background: rgba(0, 0, 0, 0.1)"
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" href="index.html">Money Roomba</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Log In</a></li>
        <li class="nav-item"><a href="/account/register" class="nav-link">Register</a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="home-slider ftco-degree-bg">
  <div class="slider-item">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center justify-content-center">
        <div class="col-md-10 ftco-animate text-center">
          <h1 class="mb-4">Money Roomba</h1>
          <h4>Sweep your Money</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Header Starts
<section id="Banner" class="content-section">
  <div class="container content-wrap text-center">
    <h1 class="mb-4">Money Roomba
    </h1>
    <p>Money Roomba es una aplicación enfocada en las finanzas personales, la cual permite llevar un control exhaustivo de gastos e ingresos mediante diferentes categorías,
      las cuales representan los gastos más comunes en el día a día.</p>
    <p>
    <p><a href="" class="btn btn-primary btn-outline-white">Register</a></p>
  </div>
  <div class="overlay"></div>
</section>-->
<!-- Header Ends -->
<!-- About Us Starts -->
<section id="About" class="content-section">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <div class="block-heading">
          <h2>About Us</h2>
        </div>
        <p class="lead">
          Money Roomba es una aplicación enfocada en las finanzas personales, la cual permite llevar un control exhaustivo de gastos e
          ingresos mediante diferentes categorías, las cuales representan los gastos más comunes en el día a día.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- About Us Starts -->
<section id="Services" class="content-section text-center">
  <div class="container">
    <div class="block-heading">
      <h2>Nuestras funcionalidades</h2>
      <p>Money Roomba provee funcionalidades para permitir a los usuarios administrar sus finanzas de una forma fácil, sencilla y segura</p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service-box">
          <div class="service-icon yellow">
            <div class="front-content">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <h3>Flujo sencillo</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Flujo sencillo</h3>
            <p>Un flujo de trabajo que facilita a los usuarios el manejo constante de sus finanzas.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-box">
          <div class="service-icon orange">
            <div class="front-content">
              <i class="fa fa-suitcase"></i>
              <h3>Análisis de datos</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Análisis de datos</h3>
            <p>
              Análisis de datos sobre la información recaudada para la creación de diagramas y estadísticas que faciliten la toma de
              decisiones de los usuarios.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-box">
          <div class="service-icon red">
            <div class="front-content">
              <i class="fa fa-male" aria-hidden="true"></i>
              <h3>Transacciones automatizadas</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Transacciones automatizadas</h3>
            <p>
              Habilitar interfaces hacia las cuales los usuarios envíen la información generada desde otras plataformas y sea integrada en
              la aplicación
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-box">
          <div class="service-icon grey">
            <div class="front-content">
              <i class="fa fa-search-plus"></i>
              <h3>Soporte &amp; Seguridad</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Soporte &amp; Seguridad</h3>
            <p>Estándares de seguridad robustos para la correcta manipulación de los datos privados de los usuarios</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<section class="content-section text-center" id="Portfolio">
  <div class="container">
    <div class="block-heading">
      <h2>Funcionalidades</h2>
      <p>Funcionalidades de Money Roomba</p>
    </div>
    <div class="portfolio-wrapper clearfix">
      <a class="each-portfolio" data-fancybox="gallery" href="../../../assets/landing/images/Mophy1.JPG">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="../../../assets/landing/images/Mophy1.JPG">
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Carteras</h5>
            <p class="p-desc">Se pueden registrar hasta dos carteras para manejar transacciones</p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      <a class="each-portfolio" data-fancybox="gallery" href="../../../assets/landing/images/Mophy2.JPG">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="../../../assets/landing/images/Mophy2.JPG">
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Transacciones</h5>
            <p class="p-desc">Manejo de gastos e ingresos con distintos tipos de transacciones</p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      <a class="each-portfolio" data-fancybox="gallery" href="../../../assets/landing/images/Mophy3.JPG">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="../../../assets/landing/images/Mophy3.JPG">
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Categorías</h5>
            <p class="p-desc">Control de transacciones con categorías.</p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      <a class="each-portfolio" data-fancybox="gallery" href="../../../assets/landing/images/p-five.jpeg">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="../../../assets/landing/images/p-five.jpeg">
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Title</h5>
            <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      <a class="each-portfolio" data-fancybox="gallery" href="../../../assets/landing/images/p-six.jpeg">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="../../../assets/landing/images/p-six.jpeg">
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Title</h5>
            <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      <a class="each-portfolio" data-fancybox="gallery" href="../../../assets/landing/images/p-three.jpeg">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="../../../assets/landing/images/p-three.jpeg">
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Title</h5>
            <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>-->
<!-- TESTIMONIALS -->
<section id="Testimonials" class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="block-heading">
          <h2>Nuestro equipo</h2>
          <p>El equipo de Money Roomba</p>
        </div>
        <div id="customers-testimonials" class="owl-carousel">
          <div class="item">
            <div class="shadow-effect">
              <img class="img-circle" src="../../../assets/landing/images/person_1.jpg" alt="" />
              <p>Desarrollo</p>
              <p>Encargado del plan de estándares: interfaz gráfica, base de datos, codificación y documentación</p>
            </div>
            <div class="testimonial-name">Esteban Salom</div>
          </div>
          <div class="item">
            <div class="shadow-effect">
              <img class="img-circle" src="../../../assets/landing/images/Andres.png" alt="" />
              <p>Soporte</p>
              <p>Administración de la configuración: descripción de herramientas y administración del repositorio.</p>
            </div>
            <div class="testimonial-name">Andres Bonilla</div>
          </div>
          <div class="item">
            <div class="shadow-effect">
              <img class="img-circle" src="../../../assets/landing/images/Javier.jpg" alt="" />
              <p>Calidad</p>
              <p>Encargado de la administración de Calidad: especificación de casos de prueba y pruebas de rendimiento</p>
            </div>
            <div class="testimonial-name">Javier Pozuelo</div>
          </div>
          <div class="item">
            <div class="shadow-effect">
              <img class="img-circle" src="../../../assets/landing/images/Kamil.JPG" alt="" />
              <p>Coordinador</p>
              <p>Encargado de la coodinacion general: administración del tiempo, programar actividades y desglosar el trabajo</p>
            </div>
            <div class="testimonial-name">Kamil Suma</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END OF TESTIMONIALS -->
<section id="Contact" class="content-section">
  <div class="container">
    <div class="block-heading">
      <h2>Contacto</h2>
      <p></p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="contact-wrapper">
          <div class="address-block border-bottom">
            <h3 class="add-title">Ubicación</h3>
            <div class="c-detail">
              <span class="c-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span><span class="c-info"> Street Addess</span>
            </div>
            <div class="c-detail">
              <span class="c-icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="c-info">+0000000000</span>
            </div>
            <div class="c-detail">
              <span class="c-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span><span class="c-info">email@yourdomain.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-wrap">
          <form action="javascript:void(0)" method="post">
            <div class="fname floating-label">
              <input type="text" class="floating-input" name="full name" />
              <label>Nombre</label>
            </div>
            <div class="fname floating-label">
              <input type="text" class="floating-input" name="full name" />
              <label>Apellido</label>
            </div>
            <div class="email floating-label">
              <input type="email" class="floating-input" name="email" />
              <label>Correo</label>
            </div>
            <div class="contact floating-label">
              <input type="tel" class="floating-input" name="contact" />
              <label>Celular</label>
            </div>
            <div class="company floating-label">
              <textarea type="text" class="floating-input" name="company"></textarea>
              <label>Mensaje</label>
            </div>
            <div class="submit-btn">
              <button type="submit">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="javascript:void(0)">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright © Money Roomba</p>
  </div>
</footer>
