<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>Money Roomba</title>
  </head>
  <body class="is-boxed has-animations">
    <div class="body-wrap">
      <header class="site-header">
        <div class="container">
          <div class="site-header-inner">
            <div class="brand header-brand">
              <h1 class="m-0">
                <a href="/landing">
                  <img style="width: 55px; height: 55px" class="header-logo-image" src="../../../assets/images/cat.svg" alt="Logo" />
                </a>
              </h1>
            </div>
          </div>
        </div>
      </header>

      <main>
        <section class="hero">
          <div class="container">
            <div class="hero-inner">
              <div class="hero-copy">
                <h1 class="hero-title mt-0">Money Roomba</h1>
                <p class="hero-paragraph">
                  Money Roomba es una aplicación enfocada en las finanzas personales, la cual permite llevar un control exhaustivo de gastos
                  e ingresos mediante diferentes categorías, las cuales representan los gastos más comunes en el día a día.
                </p>
                <div class="hero-cta">
                  <a class="button button-primary" href="/login">Iniciar sesión</a
                  ><a class="button" href="/account/register">Registrarse</a>
                </div>
              </div>
              <div class="hero-figure anime-element">
                <svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
                  <rect width="528" height="396" style="fill: transparent" />
                </svg>
                <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                <div class="hero-figure-box hero-figure-box-05"></div>
                <div class="hero-figure-box hero-figure-box-06"></div>
                <div class="hero-figure-box hero-figure-box-07"></div>
                <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
              </div>
            </div>
          </div>
        </section>

        <section class="features section">
          <div class="container">
            <div class="features-inner section-inner has-bottom-divider">
              <div class="features-wrap">
                <div class="feature text-center is-revealing">
                  <div class="feature-inner">
                    <div class="feature-icon">
                      <img src="../../../assets/landing/images/feature-icon-01.svg" alt="Feature 01" />
                    </div>
                    <h4 class="feature-title mt-24">Flujo sencillo</h4>
                    <p class="text-sm mb-0">Un flujo de trabajo que facilita a los usuarios el manejo constante de sus finanzas.</p>
                  </div>
                </div>
                <div class="feature text-center is-revealing">
                  <div class="feature-inner">
                    <div class="feature-icon">
                      <img src="../../../assets/landing/images/feature-icon-02.svg" alt="Feature 02" />
                    </div>
                    <h4 class="feature-title mt-24">Transacciones automatizadas</h4>
                    <p class="text-sm mb-0">
                      Habilitar interfaces hacia las cuales los usuarios envíen la información generada desde otras plataformas y sea
                      integrada en la aplicación
                    </p>
                  </div>
                </div>
                <div class="feature text-center is-revealing">
                  <div class="feature-inner">
                    <div class="feature-icon">
                      <img src="d../../../assets/landing/images/feature-icon-03.svg" alt="Feature 03" />
                    </div>
                    <h4 class="feature-title mt-24">Soporte &amp; Seguridad</h4>
                    <p class="text-sm mb-0">
                      Estándares de seguridad robustos para la correcta manipulación de los datos privados de los usuarios
                    </p>
                  </div>
                </div>
                <div class="feature text-center is-revealing">
                  <div class="feature-inner">
                    <div class="feature-icon">
                      <img src="../../../assets/landing/images/feature-icon-05.svg" alt="Feature 05" />
                    </div>
                    <h4 class="feature-title mt-24">Control de gastos e ingresos</h4>
                    <p class="text-sm mb-0">
                      Permite llevar un control exhaustivo de gastos e ingresos mediante diferentes categorías, las cuales representan los
                      gastos más comunes en el día a día.
                    </p>
                  </div>
                </div>
                <div class="feature text-center is-revealing">
                  <div class="feature-inner">
                    <div class="feature-icon">
                      <img src="../../../assets/landing/images/feature-icon-06.svg" alt="Feature 06" />
                    </div>
                    <h4 class="feature-title mt-24">Interfaz abierta</h4>
                    <p class="text-sm mb-0">
                      Permite que los usuarios envíen la información generada desde otras plataformas y sea integrada en la aplicación
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="pricing section">
          <div class="container-sm">
            <div class="pricing-inner section-inner">
              <div class="pricing-header text-center">
                <h2 class="section-title mt-0">Sweep your Money</h2>
                <p class="section-paragraph mb-0"></p>
              </div>
              <div class="pricing-tables-wrap">
                <div class="pricing-table">
                  <div class="pricing-table-inner is-revealing">
                    <div class="pricing-table-main">
                      <div class="pricing-table-header pb-24">
                        <div class="pricing-table-price">
                          <span class="pricing-table-price-currency h2">$</span
                          ><span class="pricing-table-price-amount h1"
                            >{{ this.price }} <sup>+{{ this.tax }}%</sup></span
                          ><span class="text-xs">/single payment</span>
                        </div>
                      </div>
                      <div class="pricing-table-features-title text-xs pt-24 pb-24">Que obtendrás con premium</div>
                      <ul class="pricing-table-features list-reset text-xs">
                        <li>
                          <span>Transacciones ilimitadas</span>
                        </li>
                        <li>
                          <span>Carteras ilimitadas</span>
                        </li>
                        <li>
                          <span>Multiples reportes</span>
                        </li>
                      </ul>
                    </div>
                    <div class="pricing-table-cta mb-8">
                      <a class="button button-primary button-shadow button-block" href="#">Comprar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="cta section">
          <div class="container">
            <div class="cta-inner section-inner">
              <h3 class="section-title mt-0">Esta interesado en Money Roomba?</h3>
              <div class="cta-cta">
                <a class="button button-primary button-wide-mobile" href="/account/register">Registrarse</a>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer class="site-footer">
        <div class="container">
          <div class="site-footer-inner">
            <div class="brand footer-brand">
              <a href="#">
                <img style="width: 40px; height: 40px" class="header-logo-image" src="./../../assets/images/cat.svg" alt="Logo" />
              </a>
            </div>
            <div class="footer-copyright">&copy; 2021, Money Roomba</div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
