<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="transaction">
      <h2 data-cy="transactionDetailsHeading"><span jhiTranslate="moneyRoombaApp.transaction.detail.title">Transaction</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ transaction.id }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.name">Name</span></dt>
        <dd>
          <span>{{ transaction.name }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.description">Description</span></dt>
        <dd>
          <span>{{ transaction.description }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.dateAdded">Date Added</span></dt>
        <dd>
          <span>{{ transaction.dateAdded | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.amount">Amount</span></dt>
        <dd>
          <span>{{ transaction.amount }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.originalAmount">Original Amount</span></dt>
        <dd>
          <span>{{ transaction.originalAmount }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.movementType">Movement Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'moneyRoombaApp.MovementType.' + transaction.movementType }}">{{ transaction.movementType }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.scheduled">Scheduled</span></dt>
        <dd>
          <span>{{ transaction.scheduled }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.addToReports">Add To Reports</span></dt>
        <dd>
          <span>{{ transaction.addToReports }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.incomingTransaction">Incoming Transaction</span></dt>
        <dd>
          <span>{{ transaction.incomingTransaction }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.transactionType">Transaction Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'moneyRoombaApp.TransactionType.' + transaction.transactionType }}">{{
            transaction.transactionType
          }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.attachment">Attachment</span></dt>
        <dd>
          <div *ngIf="transaction.attachment">
            <a [routerLink]="['/attachment', transaction.attachment?.id, 'view']">{{ transaction.attachment?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.wallet">Wallet</span></dt>
        <dd>
          <div *ngIf="transaction.wallet">
            <a [routerLink]="['/wallet', transaction.wallet?.id, 'view']">{{ transaction.wallet?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.currency">Currency</span></dt>
        <dd>
          <div *ngIf="transaction.currency">
            <a [routerLink]="['/currency', transaction.currency?.id, 'view']">{{ transaction.currency?.code }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.category">Category</span></dt>
        <dd>
          <div *ngIf="transaction.category">
            <a [routerLink]="['/category', transaction.category?.id, 'view']">{{ transaction.category?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.transaction.sourceUser">Source User</span></dt>
        <dd>
          <div *ngIf="transaction.sourceUser">
            <a [routerLink]="['/user-details', transaction.sourceUser?.id, 'view']">{{ transaction.sourceUser?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction', transaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
