<div>
  <h2 id="page-heading" data-cy="ScheduledTransactionHeading">
    <span jhiTranslate="moneyRoombaApp.scheduledTransaction.home.title">Scheduled Transactions</span>

    <div class="d-flex justify-content-end">
      <div class="pt-3" style="font-size: 24px">
        <select [(ngModel)]="filterType" name="filterType" class="btn light btn-rounded form-control default-select">
          <option value="name" jhiTranslate="moneyRoombaApp.scheduledTransaction.name">Name</option>
          <option value="currency" jhiTranslate="moneyRoombaApp.scheduledTransaction.currency">Currency</option>
        </select>
      </div>
      <div *ngIf="filterType === 'currency'" class="pt-3 p-1" style="font-size: 24px">
        <input
          type="text"
          class="form-control input-rounded"
          [(ngModel)]="inputText"
          (input)="filterTransactionsByCurrency()"
          placeholder="{{ 'moneyRoombaApp.wallet.home.searchbar' | translate }}"
        />
      </div>
      <div *ngIf="filterType === 'name'" class="pt-3 p-1" style="font-size: 24px">
        <input
          class="form-control input-rounded"
          type="text"
          [(ngModel)]="inputText"
          (input)="filterTransactionsByName()"
          placeholder="{{ 'moneyRoombaApp.wallet.home.searchbar' | translate }}"
        />
      </div>

      <div class="pt-3 p-1">
        <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="moneyRoombaApp.scheduledTransaction.home.refreshListLabel">Refresh List</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-scheduled-transaction"
          [routerLink]="['/scheduled-transaction/new']"
          *ngIf="!adminUser"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="moneyRoombaApp.scheduledTransaction.home.createLabel"> Create a new Scheduled Transaction </span>
        </button>
      </div>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="scheduledTransactions?.length === 0">
    <span jhiTranslate="moneyRoombaApp.scheduledTransaction.home.notFound">No scheduledTransactions found</span>
  </div>

  <div
    class="tabl-responsive table-hover fs-14 card-tableetabl-responsive table-hover fs-14 card-table"
    id="entities"
    *ngIf="scheduledTransactions && scheduledTransactions.length > 0"
  >
    <table class="table display mb-4 dataTablesCard dataTable card-table" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.scheduledTransaction.name">Name</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.scheduledTransaction.originalAmount">Original Amount</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.scheduledTransaction.movementType">Movement Type</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.scheduledTransaction.startDate">Period</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.scheduledTransaction.addToReports">Add To Reports</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.scheduledTransaction.recurringType">Recurring Type</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.scheduledTransaction.category">Category</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let scheduledTransaction of scheduledTransactions | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
            trackBy: trackId
          "
          data-cy="entityTable"
        >
          <td>{{ scheduledTransaction.name }}</td>
          <td>{{ scheduledTransaction.originalAmount | currency: scheduledTransaction.currency?.code:'symbol':'1.2-2' }}</td>
          <td>
            <div class="text-black">
              <span *ngIf="scheduledTransaction.movementType.toLowerCase().includes('expense')" class="mr-2 oi-icon {{ 'bgl-danger' }}">
                <img src="{{ 'assets/images/ic_out.svg' }}" />
              </span>

              <span *ngIf="scheduledTransaction.movementType.toLowerCase().includes('income')" class="mr-2 oi-icon {{ 'bgl-success' }}">
                <img src="{{ 'assets/images/ic_in.svg' }}" />
              </span>
              <span jhiTranslate="{{ 'moneyRoombaApp.MovementType.' + scheduledTransaction.movementType }}"> </span>
            </div>
          </td>
          <td *ngIf="scheduledTransaction.endDate">
            {{ scheduledTransaction.startDate | formatMediumDate }} - {{ scheduledTransaction.endDate | formatMediumDate }}
          </td>
          <td *ngIf="!scheduledTransaction.endDate">From {{ scheduledTransaction.startDate | formatMediumDate }} on</td>
          <td>
            <span *ngIf="scheduledTransaction.addToReports" class="badge badge-success" jhiTranslate="moneyRoombaApp.wallet.reportsTrue">
              yes
            </span>
            <span *ngIf="!scheduledTransaction.addToReports" class="badge badge-danger" jhiTranslate="moneyRoombaApp.wallet.reportsFalse">
              no
            </span>
          </td>
          <td jhiTranslate="{{ 'moneyRoombaApp.RecurringType.' + scheduledTransaction.recurringType }}">
            {{ scheduledTransaction.recurringType }}
          </td>
          <td class="table-icon-cell">
            <!--<a [routerLink]="['/category', transaction.category?.id, 'view']">{{ transaction.category?.name }}</a>-->
            <img
              class="icon"
              [routerLink]="['/category', scheduledTransaction.category?.id, 'view']"
              src="{{ getIcon(scheduledTransaction.category?.icon).path }}"
              alt="{{ getIcon(scheduledTransaction.category?.icon).name }}"
            />
          </td>
          <td class="text-right">
            <div class="dropdown pb-3 dropdown-no-icon" ngbDropdown>
              <div class="btn-link" role="button" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10 11.9999C10 13.1045 10.8954 13.9999 12 13.9999C13.1046 13.9999 14 13.1045 14 11.9999C14 10.8954 13.1046 9.99994 12 9.99994C10.8954 9.99994 10 10.8954 10 11.9999Z"
                    fill="black"
                  ></path>
                  <path
                    d="M10 4.00006C10 5.10463 10.8954 6.00006 12 6.00006C13.1046 6.00006 14 5.10463 14 4.00006C14 2.89549 13.1046 2.00006 12 2.00006C10.8954 2.00006 10 2.89549 10 4.00006Z"
                    fill="black"
                  ></path>
                  <path
                    d="M10 20C10 21.1046 10.8954 22 12 22C13.1046 22 14 21.1046 14 20C14 18.8954 13.1046 18 12 18C10.8954 18 10 18.8954 10 20Z"
                    fill="black"
                  ></path>
                </svg>
              </div>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a
                  class="dropdown-item"
                  [routerLink]="['/scheduled-transaction', scheduledTransaction.id, 'view']"
                  jhiTranslate="entity.action.view"
                  >view</a
                >
                <a
                  class="dropdown-item text-primary"
                  [routerLink]="['/scheduled-transaction', scheduledTransaction.id, 'edit']"
                  jhiTranslate="entity.action.edit"
                  >Edit</a
                >
                <a class="dropdown-item text-danger" (click)="delete(scheduledTransaction)" jhiTranslate="entity.action.delete">Delete</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      class="mr-3"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="this.scheduledTransactions.length"
    ></ngb-pagination>
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="5">5 <span jhiTranslate="global.menu.entities.items-per-page">items per page</span></option>
      <option [ngValue]="10">10 <span jhiTranslate="global.menu.entities.items-per-page">items per page</span></option>
      <option [ngValue]="20">20 <span jhiTranslate="global.menu.entities.items-per-page">items per page</span></option>
    </select>
  </div>
</div>
