<div class="media align-items-center bgl-secondary rounded p-0 pr-3">
  <div class="d-inline-block position-relative donut-chart-sale2">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [plotOptions]="chartOptions.plotOptions"
      [labels]="chartOptions.labels"
      [fill]="chartOptions.fill"
      [stroke]="chartOptions.stroke"
      [responsive]="chartOptions.responsive"
    ></apx-chart>
  </div>
  <div class="media-body">
    <h4 class="fs-15 text-black font-w600 mb-0">Installment</h4>
    <span class="fs-14">$5,412</span>
  </div>
</div>
