<!-- row -->
<div *ngIf="adminUser" class="container-fluid mt-0 pt-0">
  <jhi-health></jhi-health>
</div>
<div *ngIf="!adminUser" class="container-fluid mt-0 pt-0">
  <div class="d-sm-flex d-block align-items-center mb-4">
    <div class="mr-auto">
      <h2 class="text-black font-w600 mb-3" jhiTranslate="global.menu.dashboardTitle">Dashboard</h2>
    </div>
    <div *ngIf="showDateInputs">
      <app-datepicker-range-popup></app-datepicker-range-popup>
    </div>
    <!--    <div class="dropdown custom-dropdown mb-0 mt-3 mt-sm-0 dropdown-no-icon" ngbDropdown>
      <div class="btn btn-light btn-rounded ml-2" role="button" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
        <i class="las la-calendar-alt scale5 mr-3"></i>
        <fa-icon class="scale2 mr-3" [icon]="faCalendarAlt"></fa-icon>
        Filter Date
        <i class="fa fa-caret-down text-primary ml-3" aria-hidden="true"></i>
        <fa-icon class="text-primary ml-3" [icon]="faCaretDown"></fa-icon>
      </div>
      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <a class="dropdown-item" (click)="onClick()">Date</a>
      </div>
    </div>-->
  </div>
  <div class="form-head mb-4">
    <!--    -->
    <jhi-transaction-count></jhi-transaction-count>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="row">
        <div class="col-xl-8 col-lg-6 col-md-7 col-sm-8">
          <div class="card-bx stacked">
            <img src="assets/images/card/card.png" alt="" class="mw-100" />
            <div class="card-info text-white">
              <p class="mb-1" jhiTranslate="moneyRoombaApp.wallet.home.mainBalance">Main balance</p>
              <jhi-total-balance></jhi-total-balance>

              <div class="d-flex align-items-center justify-content-between mb-sm-5 mb-3">
                <img src="assets/images/dual-dot.png" alt="" class="dot-img" />
                <h4 class="fs-20 text-white mb-0"></h4>
              </div>
              <div class="d-flex">
                <div class="mr-5">
                  <p class="fs-14 mb-1 op6" jhiTranslate="moneyRoombaApp.transaction.name">Name</p>
                  <span>{{ account?.firstName }} {{ account?.lastName }}</span>
                </div>
                <div>
                  <p class="fs-14 mb-1 op6"></p>
                  <span></span>
                </div>
              </div>
            </div>
            <a [routerLink]="['/wallet']"><i class="" aria-hidden="true"></i><fa-icon [icon]="faCaretDown"></fa-icon></a>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-5 col-sm-4">
          <jhi-imported-transaction-count></jhi-imported-transaction-count>
        </div>
        <div class="col-xl-12">
          <jhi-wallet-balance></jhi-wallet-balance>
        </div>
        <div class="col-xl-12">
          <app-quick-transfer-crousal></app-quick-transfer-crousal>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="col-xl-12">
        <jhi-transactions-category></jhi-transactions-category>
      </div>
    </div>
  </div>
</div>
