<div>
  <h2 id="page-heading" data-cy="LicenseHeading">
    <span jhiTranslate="moneyRoombaApp.license.home.title">Licenses</span>

    <div class="d-flex justify-content-end">
      <div class="pt-3 p-1" style="font-size: 24px">
        <input jhiTranslate="moneyRoombaApp.category.home.searchbar" type="text" [(ngModel)]="inputText" (input)="filter()" />
      </div>
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="moneyRoombaApp.license.home.refreshListLabel">Refresh List</span>
      </button>

      <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-license" (click)="create()">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="moneyRoombaApp.license.home.createLabel"> Create a new License </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="licenses?.length === 0">
    <span jhiTranslate="moneyRoombaApp.license.home.notFound">No licenses found</span>
  </div>

  <div
    class="etabl-responsive table-hover fs-14 card-tableetabl-responsive table-hover fs-14 card-table"
    id="entities"
    *ngIf="licenses && licenses.length > 0"
  >
    <table class="table display mb-4 dataTablesCard dataTable card-table" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.license.code">Code</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.license.isAssigned">Is Assigned</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.license.createMethod">Create Method</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let license of licenses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/license', license.id, 'view']">{{ license.id }}</a>
          </td>
          <td>{{ license.code }}</td>
          <td>
            <span *ngIf="license.isAssigned" class="badge badge-success">Redimida</span>
            <span *ngIf="!license.isAssigned" class="badge badge-warning">Pendiente</span>
          </td>
          <td jhiTranslate="{{ 'moneyRoombaApp.LicenseCreateMethod.' + license.createMethod }}">{{ license.createMethod }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/license', license.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/license', license.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                class="btn btn-secondary btn-sm"
                (click)="setActive(license, true)"
                *ngIf="!license.isActive"
                jhiTranslate="moneyRoombaApp.license.deactivated"
              >
                Deactivated
              </button>
              <button
                class="btn btn-secondary btn-sm"
                (click)="setActive(license, false)"
                *ngIf="license.isActive"
                [disabled]="license.isAssigned"
                jhiTranslate="moneyRoombaApp.license.activated"
              >
                Activated
              </button>

              <button
                type="submit"
                [disabled]="license.isAssigned == true"
                (click)="delete(license)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
