<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="category">
      <h2 data-cy="categoryDetailsHeading"><span jhiTranslate="moneyRoombaApp.category.detail.title">Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ category.id }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.category.name">Name</span></dt>
        <dd>
          <span>{{ category.name }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.category.isActive">Is Active</span></dt>
        <dd>
          <span>{{ category.isActive }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.category.userCreated">User Created</span></dt>
        <dd>
          <span>{{ category.userCreated }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.category.icon">Icon</span></dt>
        <dd>
          <span>{{ category.icon }}</span>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.category.parent">Parent</span></dt>
        <dd>
          <div *ngIf="category.parent">
            <a [routerLink]="['/category', category.parent?.id, 'view']">{{ category.parent?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="moneyRoombaApp.category.user">User</span></dt>
        <dd>
          <div *ngIf="category.user">
            <a [routerLink]="['/user-details', category.user?.id, 'view']">{{ category.user?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/category', category.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
