<div>
  <h2 id="page-heading" data-cy="CategoryHeading">
    <span jhiTranslate="moneyRoombaApp.category.home.title">Categories</span>

    <div class="d-flex justify-content-end">
      <div class="pt-3 p-1" style="font-size: 24px">
        <input jhiTranslate="moneyRoombaApp.category.home.searchbar" type="text" [(ngModel)]="inputText" (input)="filterCategory()" />
      </div>
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="moneyRoombaApp.category.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-category"
        [routerLink]="['/category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="moneyRoombaApp.category.home.createLabel"> Create a new Category </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span jhiTranslate="moneyRoombaApp.category.home.notFound">No categories found</span>
  </div>

  <div
    class="etabl-responsive table-hover fs-14 card-tableetabl-responsive table-hover fs-14 card-table"
    id="entities"
    *ngIf="categories && categories.length > 0"
  >
    <table class="table display mb-4 dataTablesCard dataTable card-table" aria-describedby="page-heading">
      <thead>
        <tr>
          <!--<th scope="col"><span jhiTranslate="global.field.id">ID</span></th>-->
          <th scope="col"><span jhiTranslate="moneyRoombaApp.category.name">Name</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.category.isActive">Is Active</span></th>
          <!--<th scope="col"><span jhiTranslate="moneyRoombaApp.category.userCreated">User Created</span></th>-->
          <th scope="col"><span jhiTranslate="moneyRoombaApp.category.icon">Icon</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.category.parent">Parent</span></th>
          <!-- <th scope="col"><span jhiTranslate="moneyRoombaApp.category.user">User</span></th>-->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/category', category.id, 'view']">{{ category.id }}</a>
          </td>-->
          <td>{{ category.name }}</td>
          <td>
            <span *ngIf="category.isActive" class="badge badge-success" jhiTranslate="moneyRoombaApp.category.active"> Active </span>
            <span *ngIf="!category.isActive" class="badge badge-danger" jhiTranslate="moneyRoombaApp.category.inactive"> Inactive </span>
          </td>
          <!--<td>{{ category.userCreated }}</td>-->
          <td class="table-icon-cell">
            <img class="icon" src="{{ getIcon(category.icon).path }}" alt="{{ getIcon(category.icon).name }}" />
          </td>
          <td>
            <div *ngIf="category.parent">
              <a [routerLink]="['/category', category.parent?.id, 'view']">{{ category.parent?.name }}</a>
            </div>
          </td>
          <!--
          <td>
            <div *ngIf="category.user">
              <a [routerLink]="['/user-details', category.user?.id, 'view']">{{ category.user?.id }}</a>
            </div>
          </td>-->
          <td class="text-right">
            <!--<div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/category', category.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                *ngIf="(!category.userCreated && adminUser) || (category.userCreated && !adminUser)"
                type="submit"
                [routerLink]="['/category', category.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *ngIf="!category.userCreated && adminUser"
                type="submit"
                (click)="status(category)"
                class="btn btn-secondary btn-sm"
                data-cy="entityStatusButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="{{ category.isActive ? 'entity.action.deactivate' : 'entity.action.activate' }}"
                  >Activate</span
                >
              </button>

              <button
                *ngIf="(!category.userCreated && adminUser) || (category.userCreated && !adminUser)"
                type="submit"
                (click)="delete(category)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>-->
            <div class="dropdown pb-3 dropdown-no-icon" ngbDropdown>
              <div class="btn-link" role="button" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10 11.9999C10 13.1045 10.8954 13.9999 12 13.9999C13.1046 13.9999 14 13.1045 14 11.9999C14 10.8954 13.1046 9.99994 12 9.99994C10.8954 9.99994 10 10.8954 10 11.9999Z"
                    fill="black"
                  ></path>
                  <path
                    d="M10 4.00006C10 5.10463 10.8954 6.00006 12 6.00006C13.1046 6.00006 14 5.10463 14 4.00006C14 2.89549 13.1046 2.00006 12 2.00006C10.8954 2.00006 10 2.89549 10 4.00006Z"
                    fill="black"
                  ></path>
                  <path
                    d="M10 20C10 21.1046 10.8954 22 12 22C13.1046 22 14 21.1046 14 20C14 18.8954 13.1046 18 12 18C10.8954 18 10 18.8954 10 20Z"
                    fill="black"
                  ></path>
                </svg>
              </div>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <!--                <a class="dropdown-item" [routerLink]="['/category', category.id, 'view']" jhiTranslate="entity.action.view">view</a>-->
                <a class="dropdown-item text-primary" [routerLink]="['/category', category.id, 'edit']" jhiTranslate="entity.action.edit"
                  >Edit</a
                >
                <a
                  *ngIf="!category.userCreated && adminUser"
                  class="dropdown-item"
                  (click)="status(category)"
                  jhiTranslate="{{ category.isActive ? 'entity.action.deactivate' : 'entity.action.activate' }}"
                  >Activate</a
                >
                <a
                  *ngIf="category.userCreated && !adminUser"
                  class="dropdown-item"
                  (click)="status(category)"
                  jhiTranslate="{{ category.isActive ? 'entity.action.deactivate' : 'entity.action.activate' }}"
                  >Deactive</a
                >
                <a
                  *ngIf="(!category.userCreated && adminUser) || (category.userCreated && !adminUser)"
                  class="dropdown-item text-danger"
                  (click)="delete(category)"
                  jhiTranslate="entity.action.delete"
                  >Delete</a
                >
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
