<div class="card">
  <div class="card-header d-sm-flex d-block border-0 pb-0">
    <div class="pr-3 mb-sm-0 mb-3 mr-auto">
      <h4 class="fs-20 text-black mb-1" jhiTranslate="home.contactTitle">Favorite contacts</h4>
      <span class="fs-12" jhiTranslate="home.contactDescription">List of all favorite contacts</span>
    </div>
    <!--<span class="fs-24 text-black font-w600">$56,772.38</span>-->
    <button type="button" id="add-contact" data-cy="addContactButton" class="btn btn-primary" (click)="this.open()">
      <fa-icon icon="plus"></fa-icon>&nbsp;<span jhiTranslate="moneyRoombaApp.transaction.addNewContact">Add new contact</span>
    </button>
  </div>
  <div class="card-body mb-5">
    <!-- <div class="owl-carousel testimonial-one mb-5"> -->
    <owl-carousel-o [options]="customOptions" class="owl-carousel-1 testimonial-one">
      <ng-template carouselSlide *ngFor="let contact of contacts">
        <div class="item">
          <div class="image-bx mb-3">
            <!--<img src="{{ items.image }}" alt="" />-->
            <ngx-avatar size="50" name="{{ contact.name }}"></ngx-avatar>
            <!--<i class="las la-check-circle"></i>-->
          </div>
          <h6 class="fs-16 mb-0">
            <a routerLink="/transaction" class="text-black">{{ contact.name }}</a>
          </h6>
          <span class="fs-12">{{ contact.email }}</span>
        </div>
      </ng-template>
    </owl-carousel-o>
    <!-- </div> -->
  </div>
</div>
