<div class="deznav">
  <div class="deznav-scroll" [perfectScrollbar]>
    <ul class="metismenu" id="menu" metis-menu>
      <li *ngIf="isAuthenticated()" style="cursor: pointer">
        <a aria-expanded="false">
          <i class="flaticon-381-networking">
            <img src="../../../../assets/icons/dashboard/business-report.png" style="width: 30px; height: 30px" />
          </i>
          <span
            class="{{ currentHref == '/' || currentHref == '/' ? 'mm-active' : '' }}"
            [routerLink]="['/']"
            class="nav-text"
            jhiTranslate="global.menu.dashboardTitle"
            >Dashboard</span
          >
        </a>
        <ul>
          <a [routerLink]="['/']" [ngClass]="{ 'd-none': !sharedService.hamburgerClass, '': sharedService.hamburgerClass }">Home</a>
        </ul>
      </li>

      <li *ngIf="isAuthenticated()" style="cursor: pointer">
        <a>
          <i class="flaticon-381-networking">
            <img src="../../../../assets/icons/dashboard/wallet.png" style="width: 30px; height: 30px" />
          </i>
          <span
            class="{{ currentHref == '/wallet' ? 'mm-active' : '' }}"
            [routerLink]="['/wallet']"
            class="nav-text"
            jhiTranslate="global.menu.entities.wallet"
            >Wallets</span
          >
        </a>
        <ul>
          <a
            [routerLink]="['/wallet']"
            [ngClass]="{ 'd-none': !sharedService.hamburgerClass, '': sharedService.hamburgerClass }"
            jhiTranslate="global.menu.entities.wallet"
          ></a>
        </ul>
      </li>

      <li *ngIf="isAuthenticated()" style="cursor: pointer">
        <a class="has-arrow ai-icon" aria-expanded="false">
          <i>
            <img src="../../../../assets/icons/dashboard/money.png" />
          </i>
          <span class="nav-text" jhiTranslate="global.menu.entities.transaction">Transaction</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a
              class="{{ currentHref == '/transaction' ? 'mm-active' : '' }}"
              [routerLink]="['/transaction']"
              jhiTranslate="global.menu.entities.transaction"
              >Transaction</a
            >
          </li>
          <li>
            <a
              class="{{ currentHref == '/scheduled-transaction' ? 'mm-active' : '' }}"
              [routerLink]="['/scheduled-transaction']"
              jhiTranslate="global.menu.entities.scheduledTransaction"
              >Scheduled Transaction</a
            >
          </li>
        </ul>
      </li>

      <li *ngIf="isAuthenticated()" style="cursor: pointer">
        <a aria-expanded="false">
          <i class="flaticon-381-networking">
            <img src="../../../../assets/icons/dashboard/color-wheel.png" />
          </i>
          <span
            class="{{ currentHref == '/category' ? 'mm-active' : '' }}"
            [routerLink]="['/category']"
            class="nav-text"
            jhiTranslate="global.menu.entities.category"
            >Category</span
          >
        </a>
        <ul>
          <a
            [routerLink]="['/category']"
            [ngClass]="{ 'd-none': !sharedService.hamburgerClass, '': sharedService.hamburgerClass }"
            jhiTranslate="global.menu.entities.category"
          ></a>
        </ul>
      </li>

      <li *ngIf="isAuthenticated()" style="cursor: pointer">
        <a aria-expanded="false">
          <i class="flaticon-381-networking">
            <img src="../../../../assets/icons/dashboard/currencies.png" style="width: 30px; height: 30px" />
          </i>
          <span
            class="{{ currentHref == '/currency-converter' ? 'mm-active' : '' }}"
            class="nav-text"
            [routerLink]="['/currency-converter']"
            jhiTranslate="global.menu.entities.currency-converter"
            >Currency converter</span
          >
        </a>
        <ul>
          <a
            [routerLink]="['/currency-converter']"
            [ngClass]="{ 'd-none': !sharedService.hamburgerClass, '': sharedService.hamburgerClass }"
            jhiTranslate="global.menu.entities.currency-converter"
          ></a>
        </ul>
      </li>

      <li *ngIf="adminUser" style="cursor: pointer">
        <a class="has-arrow ai-icon" aria-expanded="false">
          <i class="flaticon-381-television">
            <img src="../../../../assets/icons/dashboard/settings.png" />
          </i>
          <span class="nav-text" jhiTranslate="global.menu.admin.main">Administration</span>
        </a>
        <ul aria-expanded="false">
          <li style="cursor: pointer">
            <a
              [routerLink]="['/system-setting']"
              class="{{ currentHref == '/system-setting' ? 'mm-active' : '' }}"
              jhiTranslate="global.menu.entities.systemSetting"
              >System Setting</a
            >
          </li>
          <li style="cursor: pointer">
            <a [routerLink]="['/event']" class="{{ currentHref == '/event' ? 'mm-active' : '' }}" jhiTranslate="global.menu.entities.event"
              >Events</a
            >
          </li>
          <li style="cursor: pointer">
            <a
              [routerLink]="['/admin/user-management']"
              class="{{ currentHref == '/admin/user-management' ? 'mm-active' : '' }}"
              jhiTranslate="global.menu.admin.userManagement"
              >User management</a
            >
          </li>

          <li style="cursor: pointer">
            <a
              [routerLink]="['/license']"
              class="{{ currentHref == '/license' ? 'mm-active' : '' }}"
              jhiTranslate="global.menu.entities.license"
              >Licenses</a
            >
          </li>

          <li style="cursor: pointer">
            <a
              [routerLink]="['/admin/logs']"
              class="{{ currentHref == '/admin/logs' ? 'mm-active' : '' }}"
              jhiTranslate="global.menu.admin.logs"
              >Logs</a
            >
          </li>

          <li style="cursor: pointer">
            <a
              [routerLink]="['/admin/metrics']"
              class="{{ currentHref == '/admin/metrics' ? 'mm-active' : '' }}"
              jhiTranslate="global.menu.admin.metrics"
              >Metrics</a
            >
          </li>

          <li>
            <a
              [routerLink]="['/currency']"
              class="{{ currentHref == '/currency' ? 'mm-active' : '' }}"
              jhiTranslate="global.menu.entities.currency"
              >Currency</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
