<!-- *** Admin wallet listing *** -->
<div *ngIf="this.adminUser">
  <h2 id="page-heading" data-cy="WalletHeading">
    <span jhiTranslate="moneyRoombaApp.wallet.home.title">Wallets</span>

    <div class="d-flex justify-content-end">
      <div class="pt-3" style="font-size: 24px">
        <select [(ngModel)]="filterType" name="filterType">
          <option class="dropdown-item" value="name" jhiTranslate="moneyRoombaApp.wallet.name">Name</option>
          <option class="dropdown-item" value="currency" jhiTranslate="moneyRoombaApp.wallet.currency">Currency</option>
        </select>
      </div>
      <div *ngIf="filterType === 'currency'" class="pt-3 p-1" style="font-size: 24px">
        <input
          jhiTranslate="moneyRoombaApp.wallet.home.searchbar"
          type="text"
          [(ngModel)]="inputText"
          (input)="filterWalletsByCurrency()"
        />
      </div>
      <div *ngIf="filterType === 'name'" class="pt-3 p-1" style="font-size: 24px">
        <input jhiTranslate="moneyRoombaApp.wallet.home.searchbar" type="text" [(ngModel)]="inputText" (input)="filterWalletsByName()" />
      </div>
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="moneyRoombaApp.wallet.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        *ngIf="!this.adminUser"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wallet mr-2"
        [routerLink]="['/wallet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="moneyRoombaApp.wallet.home.createLabel"> Create a new Wallet </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wallets?.length === 0">
    <span jhiTranslate="moneyRoombaApp.wallet.home.notFound">No wallets found</span>
  </div>
  <div
    class="etabl-responsive table-hover fs-14 card-tableetabl-responsive table-hover fs-14 card-table"
    id="entities"
    *ngIf="wallets && wallets.length > 0"
  >
    <table class="table display mb-4 dataTablesCard dataTable card-table" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.wallet.name">Name</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.wallet.description">Description</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.wallet.inReports">In Reports</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.wallet.state">State</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.wallet.balance">Balance</span></th>
          <th scope="col"><span jhiTranslate="moneyRoombaApp.wallet.icon">Icon</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wallet of wallets; trackBy: trackId" data-cy="entityTable">
          <td>{{ wallet.name }}</td>
          <td>{{ wallet.description }}</td>
          <td>
            <span *ngIf="wallet.inReports" class="badge badge-success" jhiTranslate="moneyRoombaApp.wallet.reportsTrue"> yes </span>
            <span *ngIf="!wallet.inReports" class="badge badge-danger" jhiTranslate="moneyRoombaApp.wallet.reportsFalse"> no </span>
          </td>
          <td>
            <span *ngIf="wallet.isActive" class="badge badge-success" jhiTranslate="moneyRoombaApp.wallet.active"> Active </span>
            <span *ngIf="!wallet.isActive" class="badge badge-danger" jhiTranslate="moneyRoombaApp.wallet.inactive"> Inactive </span>
          </td>
          <td>{{ wallet.balance | currency: wallet.currency?.code:'symbol':'1.2-2' }}</td>
          <td class="table-icon-cell">
            <img class="icon" src="{{ getIcon(wallet.icon).path }}" alt="{{ getIcon(wallet.icon).name }}" />
          </td>
          <td class="text-right">
            <!--
            <div class="btn-group">
              <button type="submit" [routerLink]="['/wallet', wallet.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/wallet', wallet.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(wallet)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>-->
            <div class="dropdown pb-3 dropdown-no-icon" ngbDropdown>
              <div class="btn-link" role="button" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10 11.9999C10 13.1045 10.8954 13.9999 12 13.9999C13.1046 13.9999 14 13.1045 14 11.9999C14 10.8954 13.1046 9.99994 12 9.99994C10.8954 9.99994 10 10.8954 10 11.9999Z"
                    fill="black"
                  ></path>
                  <path
                    d="M10 4.00006C10 5.10463 10.8954 6.00006 12 6.00006C13.1046 6.00006 14 5.10463 14 4.00006C14 2.89549 13.1046 2.00006 12 2.00006C10.8954 2.00006 10 2.89549 10 4.00006Z"
                    fill="black"
                  ></path>
                  <path
                    d="M10 20C10 21.1046 10.8954 22 12 22C13.1046 22 14 21.1046 14 20C14 18.8954 13.1046 18 12 18C10.8954 18 10 18.8954 10 20Z"
                    fill="black"
                  ></path>
                </svg>
              </div>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item" [routerLink]="['/wallet', wallet.id, 'view']" jhiTranslate="entity.action.view">view</a>
                <a class="dropdown-item" [routerLink]="['/wallet', wallet.id, 'edit']" jhiTranslate="entity.action.edit">Edit</a>
                <a class="dropdown-item" (click)="delete(wallet)" jhiTranslate="entity.action.delete">Delete</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- *** Regular user wallet listing *** -->
<!-- row -->
<div *ngIf="!this.adminUser" class="container-fluid">
  <div class="d-sm-flex d-block justify-content-between align-items-center mb-4">
    <h2 class="text-black font-w600 mb-sm-0 mb-2">Wallet center</h2>
    <!--(click)="open(examplenewcard)"-->
    <button
      *ngIf="!this.adminUser"
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-wallet"
      [routerLink]="['/wallet/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="moneyRoombaApp.wallet.home.createLabel"> Create a new Wallet </span>
    </button>
    <!-- Modal -->
    <ng-template #examplenewcard let-modal>
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus,
          porta ac consectetur ac, vestibulum at eros.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger light" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Save changes</button>
      </div>
    </ng-template>
  </div>
  <div class="row">
    <div class="col-xl-12 mb-4">
      <app-wallet-slider [walletsCarousel]="allwallets"></app-wallet-slider>
    </div>
    <div class="col-xl-9">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header d-sm-flex d-block border-0 pb-0">
              <div>
                <h4 class="fs-20 text-black" jhiTranslate="moneyRoombaApp.wallet.home.title">Wallets</h4>
                <span class="fs-12">All your wallets</span>
              </div>
              <div class="dropdown custom-dropdown mb-0 mt-3 mt-sm-0 dropdown-no-icon" ngbDropdown>
                <div class="btn btn-light btn-rounded" role="button" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                  Newest
                  <i class="fa fa-caret-down text-primary ml-3" aria-hidden="true"></i>
                </div>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">Details</a>
                  <a class="dropdown-item text-danger" href="javascript:void(0);">Cancel</a>
                </div>
              </div>
            </div>
            <div class="card-body pb-0">
              <div class="d-flex mb-3 border-bottom justify-content-between flex-wrap align-items-center" *ngFor="let wallet of wallets">
                <div class="d-flex pb-3 align-items-center">
                  <img
                    class="rounded mr-3"
                    width="75"
                    [routerLink]="['/wallet', wallet.id, 'view']"
                    src="{{ getIcon(wallet.icon).path }}"
                    alt="{{ getIcon(wallet.icon).name }}"
                  />
                  <div class="mr-3">
                    <p class="fs-14 mb-1" jhiTranslate="moneyRoombaApp.wallet.name">Name</p>
                    <span class="text-black font-w500" width="50">{{ wallet.name }}</span>
                  </div>
                </div>
                <!--
                <div class="mr-3 pb-3">
                  <p class="fs-14 mb-1" jhiTranslate="moneyRoombaApp.wallet.description">Description</p>
                  <span class="text-black font-w500">Hello</span>
                </div>-->
                <div class="mr-3 pb-3">
                  <p class="fs-14 mb-1" jhiTranslate="moneyRoombaApp.wallet.inReports">In Reports</p>

                  <span *ngIf="wallet.isActive" class="badge badge-success" jhiTranslate="moneyRoombaApp.wallet.active"> Active </span>
                  <span *ngIf="!wallet.isActive" class="badge badge-danger" jhiTranslate="moneyRoombaApp.wallet.inactive"> Inactive </span>
                </div>
                <div class="mr-3 pb-3">
                  <p class="fs-14 mb-1" jhiTranslate="moneyRoombaApp.wallet.state">State</p>
                  <span *ngIf="wallet.isActive" class="badge badge-success" jhiTranslate="moneyRoombaApp.wallet.active"> Active </span>
                  <span *ngIf="!wallet.isActive" class="badge badge-danger" jhiTranslate="moneyRoombaApp.wallet.inactive"> Inactive </span>
                </div>
                <div class="mr-3 pb-3">
                  <p class="fs-14 mb-1" jhiTranslate="moneyRoombaApp.wallet.balance">Balance</p>
                  <span class="text-black font-w500">{{ wallet.balance | currency: wallet.currency?.code:'symbol':'1.2-2' }}</span>
                </div>
                <div class="dropdown pb-3 dropdown-no-icon" ngbDropdown>
                  <div class="btn-link" role="button" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10 11.9999C10 13.1045 10.8954 13.9999 12 13.9999C13.1046 13.9999 14 13.1045 14 11.9999C14 10.8954 13.1046 9.99994 12 9.99994C10.8954 9.99994 10 10.8954 10 11.9999Z"
                        fill="black"
                      ></path>
                      <path
                        d="M10 4.00006C10 5.10463 10.8954 6.00006 12 6.00006C13.1046 6.00006 14 5.10463 14 4.00006C14 2.89549 13.1046 2.00006 12 2.00006C10.8954 2.00006 10 2.89549 10 4.00006Z"
                        fill="black"
                      ></path>
                      <path
                        d="M10 20C10 21.1046 10.8954 22 12 22C13.1046 22 14 21.1046 14 20C14 18.8954 13.1046 18 12 18C10.8954 18 10 18.8954 10 20Z"
                        fill="black"
                      ></path>
                    </svg>
                  </div>
                  <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/wallet', wallet.id, 'view']" jhiTranslate="entity.action.view">view</a>
                    <a class="dropdown-item" [routerLink]="['/wallet', wallet.id, 'edit']" jhiTranslate="entity.action.edit">Edit</a>
                    <a class="dropdown-item" (click)="delete(wallet)" jhiTranslate="entity.action.delete">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="row">
        <div class="col-xl-12"></div>
        <app-wallet-statistic></app-wallet-statistic>
      </div>
    </div>
  </div>
</div>
