<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-schedule-pattern-heading"
        data-cy="SchedulePatternCreateUpdateHeading"
        jhiTranslate="moneyRoombaApp.schedulePattern.home.createOrEditLabel"
      >
        Create or edit a Schedule Pattern
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.schedulePattern.recurringType" for="field_recurringType"
            >Recurring Type</label
          >
          <select
            class="form-control"
            name="recurringType"
            formControlName="recurringType"
            id="field_recurringType"
            data-cy="recurringType"
          >
            <option [ngValue]="null">{{ 'moneyRoombaApp.RecurringType.null' | translate }}</option>
            <option value="DAILY">{{ 'moneyRoombaApp.RecurringType.DAILY' | translate }}</option>
            <option value="WEEKLY">{{ 'moneyRoombaApp.RecurringType.WEEKLY' | translate }}</option>
            <option value="MONTHLY">{{ 'moneyRoombaApp.RecurringType.MONTHLY' | translate }}</option>
            <option value="YEARLY">{{ 'moneyRoombaApp.RecurringType.YEARLY' | translate }}</option>
          </select>
          <div
            *ngIf="
              editForm.get('recurringType')!.invalid && (editForm.get('recurringType')!.dirty || editForm.get('recurringType')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('recurringType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.schedulePattern.separationCount" for="field_separationCount"
            >Separation Count</label
          >
          <input
            type="number"
            class="form-control"
            name="separationCount"
            id="field_separationCount"
            data-cy="separationCount"
            formControlName="separationCount"
          />
          <div
            *ngIf="
              editForm.get('separationCount')!.invalid &&
              (editForm.get('separationCount')!.dirty || editForm.get('separationCount')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('separationCount')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('separationCount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="moneyRoombaApp.schedulePattern.maxNumberOfOcurrences"
            for="field_maxNumberOfOcurrences"
            >Max Number Of Ocurrences</label
          >
          <input
            type="number"
            class="form-control"
            name="maxNumberOfOcurrences"
            id="field_maxNumberOfOcurrences"
            data-cy="maxNumberOfOcurrences"
            formControlName="maxNumberOfOcurrences"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.schedulePattern.dayOfWeek" for="field_dayOfWeek"
            >Day Of Week</label
          >
          <input type="number" class="form-control" name="dayOfWeek" id="field_dayOfWeek" data-cy="dayOfWeek" formControlName="dayOfWeek" />
          <div *ngIf="editForm.get('dayOfWeek')!.invalid && (editForm.get('dayOfWeek')!.dirty || editForm.get('dayOfWeek')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dayOfWeek')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dayOfWeek')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 6 }"
            >
              This field cannot be more than 6.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dayOfWeek')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.schedulePattern.weekOfMonth" for="field_weekOfMonth"
            >Week Of Month</label
          >
          <input
            type="number"
            class="form-control"
            name="weekOfMonth"
            id="field_weekOfMonth"
            data-cy="weekOfMonth"
            formControlName="weekOfMonth"
          />
          <div *ngIf="editForm.get('weekOfMonth')!.invalid && (editForm.get('weekOfMonth')!.dirty || editForm.get('weekOfMonth')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('weekOfMonth')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('weekOfMonth')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 5 }"
            >
              This field cannot be more than 5.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('weekOfMonth')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.schedulePattern.dayOfMonth" for="field_dayOfMonth"
            >Day Of Month</label
          >
          <input
            type="number"
            class="form-control"
            name="dayOfMonth"
            id="field_dayOfMonth"
            data-cy="dayOfMonth"
            formControlName="dayOfMonth"
          />
          <div *ngIf="editForm.get('dayOfMonth')!.invalid && (editForm.get('dayOfMonth')!.dirty || editForm.get('dayOfMonth')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dayOfMonth')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dayOfMonth')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 31 }"
            >
              This field cannot be more than 31.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dayOfMonth')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.schedulePattern.monthOfYear" for="field_monthOfYear"
            >Month Of Year</label
          >
          <input
            type="number"
            class="form-control"
            name="monthOfYear"
            id="field_monthOfYear"
            data-cy="monthOfYear"
            formControlName="monthOfYear"
          />
          <div *ngIf="editForm.get('monthOfYear')!.invalid && (editForm.get('monthOfYear')!.dirty || editForm.get('monthOfYear')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('monthOfYear')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('monthOfYear')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 11 }"
            >
              This field cannot be more than 11.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('monthOfYear')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="moneyRoombaApp.schedulePattern.scheduleTransaction"
            for="field_scheduleTransaction"
            >Schedule Transaction</label
          >
          <select
            class="form-control"
            id="field_scheduleTransaction"
            data-cy="scheduleTransaction"
            name="scheduleTransaction"
            formControlName="scheduleTransaction"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                scheduledTransactionOption.id === editForm.get('scheduleTransaction')!.value?.id
                  ? editForm.get('scheduleTransaction')!.value
                  : scheduledTransactionOption
              "
              *ngFor="let scheduledTransactionOption of scheduledTransactionsSharedCollection; trackBy: trackScheduledTransactionById"
            >
              {{ scheduledTransactionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
