<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-invoice-heading" data-cy="InvoiceCreateUpdateHeading" jhiTranslate="moneyRoombaApp.invoice.home.createOrEditLabel">
        Create or edit a Invoice
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.invoice.companyName" for="field_companyName">Company Name</label>
          <input
            type="text"
            class="form-control"
            name="companyName"
            id="field_companyName"
            data-cy="companyName"
            formControlName="companyName"
          />
          <div *ngIf="editForm.get('companyName')!.invalid && (editForm.get('companyName')!.dirty || editForm.get('companyName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('companyName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.invoice.userName" for="field_userName">User Name</label>
          <input type="text" class="form-control" name="userName" id="field_userName" data-cy="userName" formControlName="userName" />
          <div *ngIf="editForm.get('userName')!.invalid && (editForm.get('userName')!.dirty || editForm.get('userName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('userName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.invoice.userLastName" for="field_userLastName"
            >User Last Name</label
          >
          <input
            type="text"
            class="form-control"
            name="userLastName"
            id="field_userLastName"
            data-cy="userLastName"
            formControlName="userLastName"
          />
          <div
            *ngIf="editForm.get('userLastName')!.invalid && (editForm.get('userLastName')!.dirty || editForm.get('userLastName')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('userLastName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.invoice.userEmail" for="field_userEmail">User Email</label>
          <input type="text" class="form-control" name="userEmail" id="field_userEmail" data-cy="userEmail" formControlName="userEmail" />
          <div *ngIf="editForm.get('userEmail')!.invalid && (editForm.get('userEmail')!.dirty || editForm.get('userEmail')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('userEmail')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.invoice.dateCreated" for="field_dateCreated">Date Created</label>
          <div class="input-group">
            <input
              id="field_dateCreated"
              data-cy="dateCreated"
              type="text"
              class="form-control"
              name="dateCreated"
              ngbDatepicker
              #dateCreatedDp="ngbDatepicker"
              formControlName="dateCreated"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateCreatedDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div *ngIf="editForm.get('dateCreated')!.invalid && (editForm.get('dateCreated')!.dirty || editForm.get('dateCreated')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateCreated')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.invoice.total" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
          <div *ngIf="editForm.get('total')!.invalid && (editForm.get('total')!.dirty || editForm.get('total')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('total')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('total')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('total')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.invoice.subTotal" for="field_subTotal">Sub Total</label>
          <input type="number" class="form-control" name="subTotal" id="field_subTotal" data-cy="subTotal" formControlName="subTotal" />
          <div *ngIf="editForm.get('subTotal')!.invalid && (editForm.get('subTotal')!.dirty || editForm.get('subTotal')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('subTotal')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('subTotal')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('subTotal')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.invoice.tax" for="field_tax">Tax</label>
          <input type="number" class="form-control" name="tax" id="field_tax" data-cy="tax" formControlName="tax" />
          <div *ngIf="editForm.get('tax')!.invalid && (editForm.get('tax')!.dirty || editForm.get('tax')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tax')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('tax')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.invoice.purchaseDescription" for="field_purchaseDescription"
            >Purchase Description</label
          >
          <input
            type="text"
            class="form-control"
            name="purchaseDescription"
            id="field_purchaseDescription"
            data-cy="purchaseDescription"
            formControlName="purchaseDescription"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.invoice.itemQuantity" for="field_itemQuantity"
            >Item Quantity</label
          >
          <input
            type="number"
            class="form-control"
            name="itemQuantity"
            id="field_itemQuantity"
            data-cy="itemQuantity"
            formControlName="itemQuantity"
          />
          <div
            *ngIf="editForm.get('itemQuantity')!.invalid && (editForm.get('itemQuantity')!.dirty || editForm.get('itemQuantity')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('itemQuantity')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('itemQuantity')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('itemQuantity')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.invoice.itemPrice" for="field_itemPrice">Item Price</label>
          <input type="number" class="form-control" name="itemPrice" id="field_itemPrice" data-cy="itemPrice" formControlName="itemPrice" />
          <div *ngIf="editForm.get('itemPrice')!.invalid && (editForm.get('itemPrice')!.dirty || editForm.get('itemPrice')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('itemPrice')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('itemPrice')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('itemPrice')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="moneyRoombaApp.invoice.currency" for="field_currency">Currency</label>
          <select class="form-control" id="field_currency" data-cy="currency" name="currency" formControlName="currency">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="currencyOption.id === editForm.get('currency')!.value?.id ? editForm.get('currency')!.value : currencyOption"
              *ngFor="let currencyOption of currenciesSharedCollection; trackBy: trackCurrencyById"
            >
              {{ currencyOption.code }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
